/*  ==UserStyle== 
    
    @name           百度美化 TAB (修复背景图显示)✨ 精简美化、卡片模糊、十余种样式可选
    @namespace      userstyles.world/user/alpherkin
    @version        3.5.2.828
    @description    百度搜索，卡片模糊，精简美化，自选样式 已适配百度网页、资讯、视频、百科
	
	@description    由于样式文件过大，无法安装的 前往GitHub《 https://github.com/AlpHerk/BaiduBeautify 》下载安装 
	
    @author         无白Herk
    @preprocessor   stylus
	
	@var select   anime-style "动漫系列样式" {
		'—————————': 'style1',
		'默认样式1': 'style1',
		'默认样式2': 'style2', 
		'默认样式3': 'style3',
		'默认样式4': 'style4',
		'默认样式5': 'style5'}
		
	@var select   portr-style "人物系列样式" {
		'—————————':  'none',
		'默认样式1': 'style1',
		'默认样式2': 'style2', 
		'默认样式3': 'style3',
		'默认样式4': 'style4',
		'默认样式5': 'style5'}
		
	@var select   purer-style "氢气系列样式" {
		'—————————': 'none',
		'默认样式01': 'style1',
		'默认样式02': 'style2', 
		'默认样式03': 'style3',
		'默认样式04': 'style4',
		'默认样式05': 'style5',
		'默认样式06': 'style6', 
		'默认样式07': 'style7',
		'默认样式08': 'style8',
		'默认样式09': 'style9',
		'默认样式10': 'style10', 
		'默认样式11': 'style11',
		'默认样式12': 'style12'}
		
	@var select   eyepro-style "深色护眼样式" {
		'—————————':  'none',
		'默认样式1': 'style1',
		'默认样式2': 'style2', 
		'默认样式3': 'style3',
		'默认样式4': 'style4',
		'默认样式5': 'style5'}
		
    @var text  user-img    "自定义背景图" ""填写链接，保留引号""
	@var text  t1 		   "           " "" CSDN @AlpHerkin ""
    @var color card-color  "卡片透明颜色" #ACACAC80
	@var range card-blur   "卡片高斯模糊" [15, 0, 30, 1, 'px']
	@var range card-radius "卡片圆角弧度" [15, 0, 30, 1, 'px']
	@var range card-height "卡片高度调整" [9.5, 5, 15, 0.1, 'em']
	@var range card-width  "卡片宽度调整" [50, 20, 100, 5, 'em']

	@var text  t2 		   "           " """"""""""""""""""""""""""""""""""""""""""""""""""""""
	@var color chara-match "匹配字符颜色"	#ACACAC80
	@var color title-color "搜索结果标题" #ACACAC80
	
==/UserStyle== */
@-moz-document url-prefix("https://www.baidu.com") {
}
@-moz-document url-prefix("https://www.baidu.com") {
  .s_form {
    position: relative !important;
    float: left !important;
    left: 50% !important;
    padding: 0 !important;
  }
  #form {
    position: relative !important;
    float: left !important;
    left: -50% !important;
    padding: 0 !important;
    margin: 20px 0;
  }
  .options_2Vntk {
    margin: auto !important;
    padding: 0 !important;
  }
  .s-tab-more {
    margin: 0 !important;
  }
  .wrapper_new .s_ipt_wr {
    backdrop-filter: blur(card-blur5) !important;
    background-color: card-color25% !important;
    border-color: card-color -25% !important;
    border-radius: card-radius, 0, card-radius, 0 !important;
  }
  .wrapper_new .s_btn_wr .s_btn {
    backdrop-filter: blur(card-blur5) !important;
    background-color: card-color -50% !important;
    border-radius: 0, card-radius, card-radius, 0 !important;
    border: none !important;
  }
  #head /*隐藏搜索框底图*/ {
    position: fixed !important;
    height: 0px !important;
  }
  .wrapper_new #form .bdsug-new {
    backdrop-filter: blur(card-blur5) !important;
    background-color: card-color25% !important;
  }
  #s_tab /*搜索选项(网页、资讯、视频)*/ {
    top: -10px !important;
    height: 45px !important;
    padding-left: 0px !important;
    text-align: center !important;
    background: rgba(0,0,0,0) !important;
  }
  #header_top_bar /*资讯页相关数目*/ {
    margin: 0 auto !important;
  }
  #rs_new 	/*相关热搜居中*/ {
    width: 600px !important;
    margin: 0 auto !important;
  }
  #page   /*翻页栏居中*/ {
    background-color: rgba(0,0,0,0) !important;
    width: 850px !important;
    margin: 0 auto !important;
  }
  body {
    background-attachment: fixed !important;
    background-image: url("user-img") !important;
    background-size: cover !important;
  }
  a[class="video-title c-link"],
  h3 a {
    color: title-color !important;
    font-size: 16px !important;
    text-decoration: none !important;
  }
  h3 a:hover {
    color: title-color25% !important;
    border-bottom: title-color50% 1.2px solid;
    text-decoration: none !important;
  }
  em {
    color: chara-match !important;
    font-size: 16px !important;
    text-decoration: none !important;
  }
  a,
  .op-se-listen-recommend,
  .c-gap-right-small,
  .c-gap-top-xsmall {
    color: title-color !important;
  }
  .c-showurl.c-color-gray {
    font-size: 12px !important;
  }
  .page-inner {
    padding-left: 10px !important;
    text-align: center !important;
  }
}
@-moz-document url-prefix("https://www.baidu.com") {
  #wrapper_wrapper,
  #container {
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
  }
  #content_left,
  #content_left>.ecom_pingzhuan.old-pmd+div,
  #content_left>.video_list_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important;
    padding: 0px !important;
  }
  [id^="1"],
  [id^="2"],
  [id^="3"],
  [id^="4"],
  [id^="5"],
  [id^="6"],
  [id^="7"],
  [id^="8"],
  [id^="9"],
  #content_left .video_list.video_short,
  #content_left .result-molecule.hit-toptip.new-pmd,
  #content_left >.result-molecule.new-pmd,
  #content_left>div[class='c-container result new-pmd'],
  #content_left>div[class='c-container result'] {
    width: card-width !important;
    height: card-height !important;
    padding: 6px 8px 0px 8px !important;
    margin: 0.4em !important;
    display: block !important;
    overflow: auto !important; /*双栏卡片整体风格*/
    border-radius: card-radius !important; /*卡片结果圆角*/
    background: card-color !important; /*卡片颜色*/
    backdrop-filter: blur(card-blur); /*卡片阴影*/
    box-shadow: 0px 2px 5px 2px card-color -15% !important;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: content-box !important;
  }
  #content_left>div>.c-container .content,
  #content_left>div>div>article>section>div,
  #content_left>div[class='c-container result'].c-result-content {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    background: rgba(0,0,0,0) !important;
  }
  #searchTag,
  #u,
  #rs,
  #result_logo img,
  #content_right,
  ::-webkit-scrollbar,
  .nums.new_nums,
  #rs_new,
  .foot-container_2X1Nt,
  .foot-inner,
  .c-tools.c-gap-left,
  #content_left .sp-separator,
  .m.c-gap-left.c-color-gray.kuaizhao.snapshoot {
    display: none !important;
  }
  ._8pnr6st {
    display: none !important;
  }
}
@-moz-document url-prefix("https://baike.baidu.com/") {
  .new-icon,
  .right-ad,
  .share-list,
  .lemmaWgt-promotion-slide,
  .lemmaWgt-promotion-vbaike,
  .item.appdownload,
  .declare-wrap,
  [ad-type$="Ad"],
  #side_box_unionAd,
  .bottom-recommend-wrapper,
  .sl-player-el-container.sl-player-el-fixed {
    display: none !important;
  }
}
