/*  ==UserStyle== 
    
    @name           搜索引擎美化去广告 (百度/必应:待适配)✨ 精简美化、卡片模糊、大量样式可选 CSDN @AlpHerkin
    @namespace      userstyles.world/user/alpherkin
    @version        3.6.0627
    @description    百度搜索，卡片模糊，精简美化，自选样式 已适配百度网页、资讯、视频、百科
	 
    @author         无白 | Herk
    @preprocessor   stylus

	@var select   PURER-STYLE "氢气系列样式" {
		'—————————': 'style1',
		'默认样式01': 'style1',
		'默认样式02': 'style2', 
		'默认样式03': 'style3',
		'默认样式04': 'style4',
		'默认样式05': 'style5',
		'默认样式06': 'style6', 
		'默认样式07': 'style7',
		'默认样式08': 'style8',
		'默认样式09': 'style9',
		'默认样式10': 'style10'}
		
	@var select   DARK-STYLE "深色护眼样式" {
		'—————————':  'none',
		'默认样式1': 'style1',
		'默认样式2': 'style2', 
		'默认样式3': 'style3',
		'默认样式4': 'style4',
		'默认样式5': 'style5'}
		
	@var select   ANIME-STYLE-style "动漫系列样式" {
		'—————————': 'none',
		'默认样式1': 'style1',
		'默认样式2': 'style2', 
		'默认样式3': 'style3',
		'默认样式4': 'style4',
		'默认样式5': 'style5'}
		
	@var select   PORTR-STYLE-style "人物系列样式" {
		'—————————':  'none',
		'默认样式1': 'style1',
		'默认样式2': 'style2', 
		'默认样式3': 'style3',
		'默认样式4': 'style4',
		'默认样式5': 'style5'}
		
    @var text  --self-define-img "自定义背景图" ""填写链接，保留引号""
 
    @var color --card-color  "卡片透明颜色" #ACACAC80
	@var color --chara-match "匹配字符颜色"	#ACACAC80
	@var color --title-color "搜索结果标题" #ACACAC80

	@var range --card-blur   "卡片高斯模糊" [15, 0, 30, 1, 'px']
	@var range --card-radius "卡片圆角弧度" [15, 0, 30, 1, 'px']
	@var range --card-height "卡片高度调整" [9.5, 5, 15, 0.1, 'em']
	@var range --card-width  "卡片宽度调整" [50, 20, 100, 5, 'em']
 

	
==/UserStyle== */
@-moz-document url-prefix("https://www.baidu.com/s") {
	
	// =============用户设置 个性风格============= //
	// 氢壁纸系列
	if (PURER-STYLE == 'style1') {  
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/purer/green-mountain.png")
		card_color  = rgba(217, 235, 227, .5)
		title_color = #4070B2 
		chara_match = #FF3829
	} else if (PURER-STYLE == 'style2') {  
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/purer/pink-mountain.jpg")
		card_color  = rgba(255, 255, 255, .8)
		title_color = #325D99 
		chara_match = #FF3F2F
 	} else if (PURER-STYLE == 'style3') {  
       	bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/purer/blue-phone.jpg")
		card_color  = rgba(202, 238, 255, .8)
		title_color = #1D5AAF
		chara_match = #FF311F
	} else if (PURER-STYLE == 'style4') {  
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/purer/blue-cheongsam.png")
		card_color  = rgba(189, 221, 251, .5)
		title_color = #1A47BA
		chara_match = #FB2313
    } else if (PURER-STYLE == 'style5') { 
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/purer/orange-glass.png")
		card_color  = rgba(255, 205, 179, .5)
		title_color = #1054B3 
		chara_match = #FF1400
    } else if (PURER-STYLE == 'style6') {  
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/purer/gray-jak.jpg")
		card_color  = rgba(255, 255, 255, .8)
		title_color = #325D99 
		chara_match = #FF3F2F
	} else if (PURER-STYLE == 'style7') {  
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/purer/brown-headphone.png")
		card_color  = rgba(245, 218, 225, .5)
		title_color = #1054B3 
		chara_match = #FF1400
	} else if (PURER-STYLE == 'style8') {  
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/purer/purple-green.png")
		card_color  = rgba(225, 228, 255, .5)
		title_color = #1054B3 
		chara_match = #FF1400
	} else if (PURER-STYLE == 'style9') {  
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/purer/gray-jak.jpg")
		card_color  = rgba(217, 217, 217, .8)
		title_color = #1054B3 
		chara_match = #FF1400
    } else if (PURER-STYLE == 'style10') { 
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/purer/white-blouse.png")
		card_color  = #EDEDED
		title_color = #1054B3 
		chara_match = #FF1400
	}
	
	//深色护眼系列
	if (DARK-STYLE == 'style1') 		 {  
        bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/darkbg/black-mountain.jpg")
		card_color  = rgba(125, 120, 120, .5)
		title_color = #2150C8
		chara_match = #E53629
	} else if (DARK-STYLE == 'style2') { 
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/darkbg/black-totoro.png")
		card_color  = rgba(81, 112, 136, .5)
		title_color = #5590E0
		chara_match = #F64637
   } else if (DARK-STYLE == 'style3') { 
   		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/darkbg/black-pik.jpg")
		card_color  = rgba(102, 101, 100, .5)
		title_color = #4B83D1 
		chara_match = #E55448
	} else if (DARK-STYLE == 'style4') {
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/darkbg/black-word.png")
		card_color  = rgba(116, 116, 116, .5)
		title_color = #1B65CB
		chara_match = #FF5F51
	} else if (DARK-STYLE == 'style5') { 
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/darkbg/black-bulb.png")
		card_color  = rgba(82, 80, 80, .5)
		title_color = #245190 
		chara_match = #A8291E
	}
	// 动漫二次元系列
	if (ANIME-STYLE-style == 'style1') { 
		bg_img = url("https://serch-engine-beautify.pages.dev/https://serch-engine-beautify.pages.dev/docs/images/anime/blue-bilibili.jpg")
		card_color  = rgba(230, 247, 255, .5)
		title_color = #1D5AAF
		chara_match = #FF2C1C  
	} else if (ANIME-STYLE-style == 'style2') { 
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/anime/red-bilibili.jpg")
		card_color  = rgba(252, 213, 179, .6)
		title_color = #0054c9 
		chara_match = #FF2C1C 
	} else if (ANIME-STYLE-style == 'style3') {
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/anime/yellow-saber.jpg")
		card_color  = rgba(250, 252, 255, .5)
		title_color = #006bff 
		chara_match = #ff1200 
	} else if (ANIME-STYLE-style == 'style4') {
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/anime/green-yourname.jpg")
		card_color  = rgba(230, 240, 255, .5)
		title_color = #146BE4 
		chara_match = #F00 
	} else if (ANIME-STYLE-style == 'style5') {
        bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/anime/brown-coffecup.jpg")
		card_color  = rgba(194, 206, 218, .5)
		title_color = #396096 
		chara_match = #EA4335
	}
	
	// 人物画像系列
    if (PORTR-STYLE-style == 'style1') {
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/portr/grayblue.jpg")
		card_color  = rgba(192, 202, 217, .5) 
		title_color = #4A7CFD  
		chara_match = #FF2514 
	} else if (PORTR-STYLE-style == 'style2') {
		bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/portr/black.jpg")
		card_color  = rgba(157, 157, 157, .5) 
		title_color = #81B5FD
		chara_match = #FF4B3C
	} else if (PORTR-STYLE-style == 'style3') {
        bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/portr/pink.jpg")
		card_color  = rgba(200, 189, 188, .5)
		title_color = #2E6ABE 
		chara_match = #FF4A3B
	} else if (PORTR-STYLE-style == 'style4') {
        bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/portr/gray.jpg")
		card_color  = rgba(241, 241, 241, .5)
		title_color = #3078DB 
		chara_match = #FF4A3B
    } else 	if (PORTR-STYLE-style == 'style5') {  
        bg_img = url("https://serch-engine-beautify.pages.dev/docs/images/portr/lightgray.jpg")
		card_color  = rgba(245, 238, 236, .5) 
		title_color = #2B76E0
		chara_match = #FF4838
	}
	
	
	
	card_blur = --card-blur
	card_radius = --card-radius
	if (--self-define-img != '填写链接，保留引号')  { bg_img = url(--self-define-img)} 
	if --card-color  != #ACACAC80  {card_color  = --card-color } 
	if --title-color != #ACACAC80  {title_color = --title-color} 
	if --chara-match != #ACACAC80  {chara_match = --chara-match}

}

@-moz-document url-prefix("https://www.baidu.com/s") {
	
	// ==================== 百度搜索 总体布局 ==================== //
	div::-webkit-scrollbar {
		display: none !important;
	}
	::-webkit-scrollbar {
	  width: 14px;
	}
	::-webkit-scrollbar-track {
	  background-color: #f5f5f5;
	  border-radius: 8px;
	}
	::-webkit-scrollbar-thumb {
	  background-color: #dcdcdc;
	  border-radius: 8px;
	  border: 2px solid #f5f5f5;
	}
	.s_form  {
		position: relative !important;
		float: left !important;
		left:  50% !important;
		padding: 0 !important;
		
	}

	#form {
		position: relative !important;
		float: left !important;
		left:  -50% !important;
		padding: 0 !important;
		margin:  20px 0;
	}
	.options_2Vntk, /*百度头部处理*/ {
	margin: auto !important;
	padding: 0 !important;
	}
	.s-tab-more {
		margin:0 !important;
	}
    .s_ipt_wr 		/*百度搜索框*/ {
		backdrop-filter: blur(card_blur+5) !important;
        background-color: card_color + 25% !important;
		border-color : card_color - 50% !important;
		border-radius: card_radius, 0, card_radius, 0 !important;
    }
	.wrapper_new .s_btn_wr .s_btn /*搜索按钮*/ {
		backdrop-filter: blur(card_blur+5) !important;
		background-color: card_color - 50% !important;
		border-radius: 0, card_radius, card_radius, 0 !important;
		border: none !important;
	}
    #head /*隐藏搜索框底图*/ {
        position: fixed !important;
        height: 0px !important;
    }
	.wrapper_new #form .bdsug-new,	/*搜索建议卡片*/{
		backdrop-filter: blur(card_blur+5) !important;
        background-color: card_color + 25% !important;
	}
    #s_tab /*搜索选项(网页、资讯、视频)*/ {
        top: -10px !important;
        height: 45px !important;
        padding-left: 0px !important;
        text-align: center!important;
        background: rgba(0, 0, 0, 0) !important;
    }
    #header_top_bar /*资讯页相关数目*/ {
        margin:0 auto !important;
    }
	#rs_new 	/*相关热搜居中*/{
		width: 600px !important;
		margin:0 auto !important;
	}
	#page   /*翻页栏居中*/{
		background-color: rgba(0, 0, 0, 0) !important;
		width: 850px !important;
		margin:0 auto !important;

	}
	
	// ———————设置页面 背景图片————————— //
    body {
		background-attachment: fixed !important;
        background-image: bg_img !important;
        background-size: cover !important;
    }
	
    // ———————搜索结果 大小颜色———————— //
	a[class="video-title c-link"],
    h3 a { 
        color: title_color !important;
        font-size: 16px !important;
        text-decoration: none !important;
    }
    h3 a:hover {
		color: title_color + 25% !important;
        border-bottom: title_color+50% 1.2px solid;
        text-decoration: none !important;
    }
    em {
        color: chara_match !important;
        font-size: 16px !important;
        text-decoration: none !important;
    }
	a,
	.op-se-listen-recommend,
	.c-gap-right-small,
	.c-gap-top-xsmall {
		color: title_color !important;
	}
    .c-showurl.c-color-gray {
        font-size: 12px !important;
    }
    .page-inner {
        padding-left: 10px !important;
        text-align: center!important;
    }
}
@-moz-document url-prefix("https://www.baidu.com/s") {
	
	// ================== 搜索结果 卡片分块 =================== //
	
	#wrapper_wrapper,/*根容器调整*/
    #container {
        margin: 0 !important;
        width: 100% !important;
		padding: 0 !important;
    }
    #content_left, /*卡片父容器调整*/
    #content_left>.ecom_pingzhuan.old-pmd+div,
    #content_left>.video_list_container {
        display: flex; 						  
        flex-wrap: wrap;
        justify-content: center;
        width: 100% !important;
        padding: 0px !important;
    }
	/* 搜索结果卡片化分块 */
    [id^="1"], [id^="2"], [id^="3"], [id^="4"],    /*普通搜索结果*/
    [id^="5"], [id^="6"], [id^="7"], [id^="8"], [id^="9"],
    #content_left .video_list.video_short,         /*百度视频搜索*/
	#content_left .result-molecule.hit-toptip.new-pmd, /*搜索纠正*/
	#content_left >.result-molecule.new-pmd,	   /*包含**的结果*/
    #content_left>div[class='c-container result new-pmd'],
    #content_left>div[class='c-container result'] {
        width: --card-width !important;            
        height: --card-height !important;
        padding: 6px 8px 0px 8px !important;
        margin: 0.4em !important;
		display: block !important;
        overflow: auto !important;			    /*双栏卡片整体风格*/
        border-radius: card_radius !important;     	/*卡片结果圆角*/
        background: card_color !important;			/*卡片颜色*/
		backdrop-filter: blur(card_blur);			/*卡片阴影*/
        box-shadow: 0px 2px 5px 2px card_color - 5% !important;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        box-sizing: content-box!important;     
    }
	/* 百度搜索结果的内嵌卡片 消除内嵌边界与颜色 */
	#content_left>div>.c-container .content,   /*游戏搜索的内嵌卡片*/
    #content_left>div>div>article>section>div, /*百度招聘的内嵌卡片*/
    #content_left>div[class='c-container result'].c-result-content {
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
		background: rgba(0,0,0,0) !important;
    }
	
	
    // ==================== 搜索精简 去除推广 ==================== //
	#searchTag,
	#u,                     /*最右上角用户*/
    #rs,                    /*相关搜索条数*/
    #result_logo img,       /*百度logo图片*/
    #content_right,         /*百度右侧推广*/ 
	#rs_new,                /*底部相关搜索*/
    .nums.new_nums,         /*相关搜索数目*/
	.foot-container_2X1Nt,  /*最底部帮助栏*/
    .foot-inner,            /*最底部帮助栏*/
    .c-tools.c-gap-left,    /*百度快照图标*/
	 #content_left .sp-separator,
    .m.c-gap-left.c-color-gray.kuaizhao.snapshoot {
        display: none !important;
    }
	/*搜索特定结果时去除不影响结果的异常显示*/
	._8pnr6st /*搜索'游戏'时*/{
		 display: none !important;
	 }
	
}


@-moz-document url-prefix("https://www.baidu.com") {
	
	// ========== 百度主页 背景壁纸 ========== //
	body {
		background-attachment: fixed !important;
        background-image: bg_img !important;
        background-size: cover !important;
    }
 
	.self-btn 	/*百度搜索框*/ {
		backdrop-filter: blur(card_blur+5) !important;
        background-color: card_color - 50% !important; 
		border-radius: card_radius, 0, card_radius, 0 !important;
    }
	#bottom_layer, #s_top_wrap {
		display: none !important;
	}
}


@-moz-document url-prefix("https://baike.baidu.com/") {
	
	// ========== 百度百科 界面精简 ========== //

	.new-icon,
	.right-ad,
	.share-list,
	.lemmaWgt-promotion-slide,
	.lemmaWgt-promotion-vbaike, /*V百科*/
	.item.appdownload,			/*下载app*/
	.declare-wrap,				/*顶栏防诈骗提醒*/
	[ad-type$="Ad"],			/*去除统一广告*/
	#side_box_unionAd,  		/*百科右侧广告*/
	.bottom-recommend-wrapper,	/*底部推荐广告*/
	.sl-player-el-container.sl-player-el-fixed {
		display: none !important;
	}
}


 



